<template>
  <div>
    <transition name="fade">
      <Navbar/>
    </transition>
    <transition name="fade">
      <slot/>
    </transition>
  </div>
</template>

<script>

import Navbar from './shared/Navbar.vue';

export default {
  name: 'DesktopBaseLayout',
  components: { Navbar },
};

</script>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
