<template>
  <section class="about">
    <div class="container">
      <h1 id="sonicvirus">Sonic Virus</h1>

      <h3 id="adatasonificationofthecovid19outbreak">
        A data sonification of the COVID-19 outbreak
      </h3>

      <p><br /></p>

      <h2 id="inspiration">Inspiration</h2>

      <p>
        In the past few weeks we have seen many approaches to visualize COVID-19
        data. But, why visualize the data if you can listen to it? Our passion
        for music led us to implement a system that enables users to listen to
        the COVID-19 outbreak around the world.
      </p>

      <h2 id="whatitdoes">What it does?</h2>

      <p>
        Sonic Virus enables users to listen to the evolution of the COVID-19
        outbreak around the world by means of
        <a href="https://www.wired.com/2007/04/data-sonification/"
          >data sonification</a
        >. In a nutshell, data sonification is the auditory equivalent of data
        visualization.
      </p>

      <p>
        To interact with Sonic Virus, the user selects a
        <code>reference point</code> on the globe (i.e., coordinate) and the
        symphony automatically starts to play. Under the hood, our platform
        gathers the raw data from the
        <a href="https://github.com/CSSEGISandData/COVID-19"
          >2019-nCoV Data Repository by Johns Hopkins CSSE</a
        >, aggregates the data, and uses it as input for a custom data
        sonification algorithm we implemented. In aggregating the data, Sonic
        Virus assigns different weights to the data depending on the linear
        distance of the <code>reference point</code>. For example, if the user
        clicks on Switzerland, data regarding the COVID-19 outbreak in
        Switzerland will contribute more to the symphony being played.
        Nonetheless, being a global pandemic, the situation of the rest of the
        world will also influence the symphony, but with a lower weight.
      </p>

      <p>
        To complement the sound, the globe shows an animation of the new
        confirmed cases of COVID-19, day by day, in the world (the position
        within a country is random).
      </p>

      <h3 id="customization">Customization</h3>

      <p>
        Besides selecting a <code>reference point</code> to geo-localize the
        symphony, the user can also customize its experience in Sonic Virus as
        follows:
      </p>

      <ul>
        <li>
          Select a custom <code>time interval</code> for the data, i.e., and the
          symphony;
        </li>

        <li>
          Change the <code>refresh time</code>, yielding to a faster or slower
          symphony;
        </li>

        <li>Pause, resume, or stop the symphony;</li>
      </ul>

      <h2 id="datasonification">Data sonification</h2>

      <p>
        To implement the data sonification of Sonic Virus we leveraged the
        expertise of
        <a href="http://nadirvassena.ch/">Prof. Nadir Vassena</a> and
        <a href="http://www.albertobarberis.it/">Alberto Barberis</a>, teachers,
        composers, and instructors at the
        <a href="https://www.conservatorio.ch/en"
          >Conservatorio della Svizzera italiana</a
        >. Besides they have never performed a
        <em>real-time data sonification on the web</em>, their extensive musical
        background enabled us to reach a complex, rich, yet meaningful
        geo-localized data-driven symphony.
      </p>

      <p>
        The data sonification algorithm is entirely composed of digitally
        synthesized sounds created on the fly with the
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API"
          >Web Audio API</a
        >. Each time a user interacts with Sonic Virus, she will obtain a
        different symphony thanks to the dynamism given by some random elements.
        However, the elements of the symphony are strictly related to the
        COVID-19 data, as detailed below.
      </p>

      <h3 id="composingmusicwithcovid19data">
        Composing Music with COVID-19 Data
      </h3>

      <p>
        The symphony uses 5 categories of digitally synthesized sounds:
        <strong>kick</strong>, <strong>white noise</strong>,
        <strong>impulse</strong>, <strong>harmonic field</strong>, and
        <strong>arpeggiator</strong>. The base sound is the
        <strong>kick</strong> reminiscent of a heartbeat. Then, as time passes,
        new COVID-19 data are fed into the algorithm. In turn, new sounds are
        added to enrich the symphony.
      </p>

      <p>
        Each sound and tempo (i.e., metro) is mapped to different
        characteristics of COVID-19 data. For example, the
        <em>metro of the kick</em> is mapped to the
        <em>daily confirmed cases of COVID-19</em>, i.e., more cases, faster
        tempo, faster heartbeat. The amount of <em>white noise</em> describes
        the amount of deaths, while <strong>impulses</strong> represent the
        recovered cases. The <em>harmonic field</em> is connected with the daily
        confirmed cases, while the <em>arpeggiator</em> beats time between one
        heartbeat and the next.
      </p>

      <h2 id="technologies">Technologies</h2>

      <p>
        Under the hood, our project uses the following technologies:
        <a href="https://vuejs.org/">Vue.js</a>,
        <a href="https://threejs.org">threejs.org</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API"
          >Web Audio API</a
        >
      </p>
      and <a href="https://expressjs.com/">Express.js</a>.

      <h2 id="datasources">Data</h2>
      <p>
        Sonic Virus leverages data about infections, deaths and recoveries from
        a publicly available repository maintained by the Johns Hopkins University
        here:
        <a href="https://github.com/CSSEGISandData/COVID-19">
          2019-nCoV Data Repository by Johns Hopkins CSSE </a
        >.
      </p>
      <p>
        Please note that since the 4th of August recoveries are no longer
        included in the dataset. Sonic Virus continues to use historic recovery
        data to keep the data sonification working as it was originally
        intended for earlier dates in the Covid 19 pandemic.
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'About',
  data() {
    return {};
  },
};
</script>

<style scoped>
.about {
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 3.25rem);
}
div {
  color: white;
  background-color: black;
}
h1 {
  text-decoration: underline;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 20px;
}
h2 {
  text-decoration: underline;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
  margin-top: 10px;
}
h3 {
  text-decoration: underline;
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
  margin-top: 10px;
}

code {
  background: black;
  color: wheat;
  padding-left: 0;
  padding-right: 0;
}

strong {
  color: white;
}
</style>
